.banner-fb {
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	margin-right: 0px !important;
	margin-bottom: 8vh !important;
	margin-left: 0px !important;
	padding-top: 3vh !important;
	padding-bottom: 3vh !important;

	.content {
		box-shadow: 0px 0px 0px 20px rgba(2, 1, 1, 0.3);
		margin-top: 10px;
		margin-bottom: 10px;
	}
}