.blogs {
	.blogs-box {
		.item {
			p {
				text-shadow:
						-1px -1px 0 #5d5d5d,
						1px -1px 0 #5d5d5d,
						-1px 1px 0 #5d5d5d,
						1px 1px 0 #5d5d5d;
			}
			.content {
				bottom: 0px;
				padding: 10px;
			}

			.item-images {
				filter: opacity(0.8) drop-shadow( 0 0 black);
				width: 100%;
				overflow: hidden;

				img {
					transform: scale(1.5);
					transition: transform 1s ease-in-out;
				}
			}
			.item-images:hover img {
				transform: scale(1);
				filter: opacity(0.5) drop-shadow( 0 0 black);
				background: #333333;
			}
		}
	}
}