h4 {font-family: 'Charm', cursive;}
p {font-family: 'Nunito Sans', sans-serif;}
img.logo {width: 150px; height: 150px;}
.breadcrumb-item {font-size: 13px}
.breadcrumb-item a, .category a {color: #8E8E8E; text-decoration: none}
.breadcrumb-item.active {color: #333}
.underlined {width: 50px; height: 2px; background: #20ab6a}
.type-box {width: 150px; height: 30px}
.blogs-box p{font-size: 14px}