.products {
	.item {
		overflow: hidden;
		position: relative;
		a {
			color: black;
		}
		a:hover {
			color: #454a50;
		}

		.search {

			width: 50px;
			visibility: hidden;
			opacity: 0;
			transition: all .3s ease-in-out;
			position: absolute;
			top: 10px;
			right: -20px;
			z-index: 1;
			background: white;

		}
		&:hover {
			.search {
				right: 10px;
				opacity: 1;
				visibility: visible;
			}
		}
	}

}