$primary: red;
$secondary: black;
$purple: #b7439e;
$light-blue: #647db4;
@import url('https://fonts.googleapis.com/css2?family=Charm&family=Inter:wght@300&family=Nunito+Sans:wght@200&family=Raleway:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm&family=Inter:wght@300&family=Raleway:wght@200;300&display=swap');
@import "../vendor/node_modules/bootstrap/scss/bootstrap.scss";
@import "banner";
@import "global";
@import "products";
@import "blogs";
@import "banner-fb";
@import "collection";
@import "similar-product";
@import "footer";